<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data science ecosystem

# Data Science Tools and Ecosystem

 In this notebook Data Science Tools and Ecosystem are summarized.

'Some of the popular languages that Data Scientists use are:'

In [ ]:
1.SQL
2.Python
3.R

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1.TensorFlow.
2.NumPy.
3.SciPy.
4.Pandas.

|Data Science Tools|
|-|
|weka|
|scrapy|
|pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
3+2

5

In [16]:
3-1

2

In [17]:
4/2

2.0

This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

200minutes=

In [22]:
200/60

3.3333333333333335

# Objectives

In [ ]:
1.R
•building a skill-set to tackle real-world data analysis challenges as a data engineer.

2.Python
•build websites and software, automate tasks, and conduct data analysis.
3.SQL
•create the database and relation structures

## Author

Maria Abid